html,
            body {
                position: relative;
                height: 100%;
            }

            body {
                background: #eee;
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
                font-size: 14px;
                color: #000;
                margin: 0;
                padding: 0;
            }

            .swiper {
                width: 100vw;
                height: 100vh;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .swiper-pagination-bullet {
                transition: all ease 0.3s;
                background-color: #efefef;
            }
            .swiper-pagination-bullet-active {
                height: 20px;
                border-radius: 4px;
                box-shadow: 0 0 5px 0 #333;
                background-color: rgba(255, 255, 255, 0.8);
            }
            .entry-list {
                position: absolute;
                width: 72.3%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .entry-list a {
                width: 23%;
            }
            .entry-list .entry {
                width: 100%;
                height: auto;
                cursor: pointer;
                transition: all ease 0.3s;
                border-radius: 10%;
            }
            .entry-list .entry:hover {
                box-shadow: 8px 8px 30px rgb(214, 207, 197);
            }
            .entry-list .entry.deep:hover {
                box-shadow: 8px 8px 30px rgba(137, 114, 143, 0.8);
            }